<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
       <header th:fragment="header">
<!--           Traer los mensajes desde el archivo de propiedades de mensajes con #{}
 -->           <h1 th:text="#{plantilla.titulo}"></h1>
       </header>

       <footer th:fragment="footer">
            <p> [[#{plantilla.pie-pagina}]] <a href="https://www.linkedin.com/in/kolcer/">Kevin Osvaldo López Casillas</a></p>
       </footer>
    </body>
</html> 