<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml" >
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{accion.crear}]]</a>
        <br/>
        <div th:if="${libros != null and !libros.empty}">
                <table border="1">
                    <tr>
                        <th>[[#{libro.nombre}]]</th>
                        <th>[[#{libro.editorial}]]</th>
                        <th>[[#{libro.autor}]]</th>
                        <th>[[#{libro.extension}]]</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>

                    </tr>
                    <!-- Ciclo for para cada persona guardada en la parte de controlador -->
                    <tr th:each="libro : ${libros}">
                        <td th:text="${libro.nombre}">Mostrar Nombre</td>
                        <td th:text="${libro.editorial}">Mostrar Editorial</td>
                        <td th:text="${libro.extension +' '}+#{plantilla.cantidad}">Mostrar Extensión</td>
                        <td th:text="${libro.autor}">Mostrar Autor</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <!-- <a th:href="@{/editar/{id}(id=${libro.id})}">Editar</a> -->
                            <a th:href="@{/editar/} + ${libro.idLibro}" th:text="Editar">[[#{accion.editar}]]</a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/eliminar/{idLibro}(idLibro=${libro.idLibro})}">[[#{accion.eliminar}]]</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div th:if="${libros == null or libros.empty}">
                Lista de libros esta vacia
            </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
    </html>
