<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1> 
        <a th:href="@{/agregar}">Crear persona</a>
        <br/>
        <div th:if="${libros != null and !libros.empty}">
                <table border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Editorial</th>
                        <th>Extension</th>
                        <th>Autor</th>
                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                    <!-- Ciclo for para cada persona guardada en la parte de controlador -->
                    <tr th:each="libro : ${libros}">
                        <td th:text="${libro.nombre}">Mostrar Nombre</td>
                        <td th:text="${libro.editorial}">Mostrar Editorial</td>
                        <td th:text="${libro.extension + ' páginas'}">Mostrar Extensión</td>
                        <td th:text="${libro.autor}">Mostrar Autor</td>
                        <td>
                            <!-- <a th:href="@{/editar/{id}(id=${libro.id})}">Editar</a> -->
                            <a th:href="@{/editar/} + ${libro.idLibro}" th:text="Editar">Editar</a>
                        </td>
                        <td>
                            <a th:href="@{/eliminar/{idLibro}(idLibro=${libro.idLibro})}">Eliminar</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div th:if="${libros == null or libros.empty}">
                Lista de libros esta vacia
            </div>
    </body>
    </html>
