<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="layout/plantilla :: head">
    <title>Listado Libros</title>
    <meta charset="UTF-8">
</head>

<body>

    <section th:fragment="listadoLibros" class="py-4 mb-4 bglight" id="clientes">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{libros.titulo-lista}]]</h4>
                        </div>
                        <div th:if="${libros != null and !libros.empty}">
                            <table class=" table table-strypped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th th:text="#{libro.nombre}"></th>
                                        <th th:text="#{libro.editorial}"></th>
                                        <th th:text="#{libro.autor}"></th>
                                        <th th:text="#{libro.extension}"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="libro, contador : ${libros}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${libro.nombre}]]</td>
                                        <td>[[${libro.editorial}]]</td>
                                        <td>[[${libro.autor}]]</td>
                                        <td>[[${libro.extension}]]</td>
                                        <td>
                                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                th:href="@{/editar/} + ${libro.idLibro}" class="btn btn-secondary">
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                            </a>
                                        </td>
                                        <td>
                                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                th:href="@{/eliminar(idLibro=${libro.idLibro})}" class="btn btn-dark">
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${libros == null or libros.empty}">
                            <span th:text="#{libro.lista-vacia}">
                                Lista Vacia
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-success text-black mb-3">
                        <div class="card-body">
                            <h3 th:text="#{libros.total}"></h3>
                            <h4 class="display-4">
                                <i class="fas fa-book"></i> [[${totalLibros}]]
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>